/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
html {
  color: #555;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #eee;
  color: #555555; }

a {
  text-decoration: none; }

.content {
  width: 700px;
  margin: 60px auto;
  background-color: #FFF;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding-bottom: 30px; }
  .content h1 {
    font-size: 1.188em;
    font-weight: 600;
    line-height: 53px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding-left: 22px; }

.content-headline {
  background: url("../img/live-quates-logo.png") no-repeat left top;
  min-height: 53px;
  padding-left: 53px;
  padding-right: 20px;
  border-bottom: 1px solid #b7b8bb; }

.expire {
  float: right;
  display: inline-block;
  line-height: 53px; }
  .expire span {
    color: #ea3a3a;
    font-size: 1.188em;
    font-weight: 600; }

.trade-info {
  text-align: center;
  margin-bottom: 28px; }
  .trade-info p {
    margin-top: 6px;
    margin-bottom: 12px; }

.status {
  height: 4px;
  background-color: #78be54; }

.currency-from, .currency-to {
  font-size: 1.125em; }
  .currency-from span, .currency-to span {
    font-size: 20px; }

.exchange-rate {
  background-color: #195d7e;
  color: #fff;
  font-size: 1.563em;
  padding: 9px 18px 11px 35px;
  position: relative;
  margin-right: 20px; }
  .exchange-rate:before, .exchange-rate:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 25px solid transparent;
    position: absolute;
    top: 0; }
  .exchange-rate:before {
    left: 0; }
  .exchange-rate:after {
    right: 0;
    border-left-color: #195d7e;
    margin-right: -20px; }

/* ==========================================================================
   Provider list styles
   ========================================================================== */
.table {
  width: 100%;
  font-size: 0.875em; }
  .table thead tr {
    border-bottom: 1px solid #c1c3c5; }
  .table thead td {
    text-align: center; }
  .table tbody {
    border-bottom: 1px solid #c1c3c5; }
    .table tbody tr:nth-child(2n) {
      background-color: #eeeeee; }
    .table tbody td {
      padding: 13px;
      text-align: center;
      vertical-align: middle; }

.provider-rate {
  background: url("../img/provider-arrow.png") no-repeat left center, url("../img/provider-arrow.png") no-repeat right center;
  height: 52px;
  display: block;
  vertical-align: middle;
  padding: 15px 30px; }

.table td.send-recive-currency {
  font-weight: 600; }

.book-wrapper {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  padding: 4px;
  border-radius: 3px;
  width: 120px;
  background-color: #FFFFFF; }
  .book-wrapper span {
    font-size: 0.857em;
    font-weight: 600;
    color: #14af78; }

/* ==========================================================================
   Buttons styles
   ========================================================================== */
.btn {
  display: inline-block;
  padding: 6px 37px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.book-btn {
  color: #fff;
  background-color: #14af78;
  border-color: #d3f0e6;
  text-transform: uppercase; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=style.css.map */
